<div id="fuel-bills-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-12">
                <h3 class="bills-title"> Fuel Bill </h3>
                <div class="row mt-4">
                    <div class="col-12 col-sm-12 col-md-6">
                        <form>
                            <h4>Fuel Station Details </h4>
                            <fieldset>
                                <legend>Select Logo</legend>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="logo-bhp" value="bhp">
                                    <label class="form-check-label" for="logo-bhp">Bharat Petroleum</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="logo-io" value="io">
                                    <label class="form-check-label" for="logo-io">Indian Oil</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="logo-hpo" value="hpo">
                                    <label class="form-check-label" for="logo-hpo">HP Oil</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="logo-eso" value="eso">
                                    <label class="form-check-label" for="logo-eso">ESSAR Oil</label>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label for="stationname" class="form-label mt-4">Fuel Station Name</label>
                                    <input type="text" class="form-control" id="stationname" placeholder="Fuel Station Name">
                                </div>
                                <div class="form-group">
                                    <label for="stationaddress" class="form-label mt-4">Fuel Station Address</label>
                                    <textarea class="form-control" id="stationaddress" placeholder="Fuel Station Address....." rows="3"></textarea>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <label for="fuelrate" class="form-label mt-4">Fuel Rate</label>
                                        <input type="text" class="form-control" id="fuelrate" placeholder="Fuel Rate">
                                    </div>
                                    <div class="col">
                                        <label for="totamount" class="form-label mt-4">Total Amount</label>
                                        <input type="text" class="form-control" id="totamount" placeholder="Total Amount">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <label for="fueldate" class="form-label mt-4">Fuel Bill Date</label>
                                        <input type="date" class="form-control" id="fueldate" placeholder="Fuel Bill Date">
                                    </div>
                                    <div class="col">
                                        <label for="fueltime" class="form-label mt-4">Fuel Bill Time</label>
                                        <input type="time" class="form-control" id="fueltime" placeholder="Fuel Bill Time">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend class="mt-3">Customer Details</legend>
                                <div class="form-group">
                                    <label for="customname" class="form-label mt-4">Customer Name</label>
                                    <input type="text" class="form-control" id="customname" placeholder="Enter Customer Name">
                                </div>
                                <div class="form-group row">
                                    <div class="col">
                                        <label for="vehiclenum" class="form-label mt-4">Vehicle Number</label>
                                        <input type="text" class="form-control" id="vehiclenum" placeholder="Vehicle Number">
                                    </div>
                                    <div class="col">
                                        <label for="vehicletype" class="form-label mt-4">Vehicle Type</label>
                                        <select class="form-select" id="vehicletype">
                                          <option>Select One</option>
                                          <option>Diesel</option>
                                          <option>Petrol</option>
                                          <option>CNG</option>
                                          <option>Electric</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col">
                                        <label for="paymentmethod" class="form-label mt-4">Payment Method</label>
                                        <select class="form-select" id="paymentmethod">
                                            <option>Select One</option>
                                            <option>Cash</option>
                                            <option>Online</option>
                                            <option>Card</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="invno" class="form-label mt-4">Invoice Number</label>
                                        <input type="text" class="form-control" id="invno" placeholder="Invoice Number/Receipt Number">
                                    </div>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tax-none" value="none">
                                    <label class="form-check-label" for="tax-none">None</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tax-csttin" value="cst-tin">
                                    <label class="form-check-label" for="tax-csttin">CST TIN</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tax-gsttin" value="gst-tin">
                                    <label class="form-check-label" for="tax-gsttin">GST TIN</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tax-num" value="tax-num">
                                    <label class="form-check-label" for="tax-num">TAX NO</label>
                                </div>
                                <div class="form-group">
                                    <label for="emailattachfilename" class="form-label mt-4">Email Attachment File Name</label>
                                    <input type="text" class="form-control" id="emailattachfilename" placeholder="Fuel Bill Template 1">
                                    <small class="form-text text-muted">This will be used as name of pdf attachment sent over the email</small>
                                </div>
                                <div class="form-group">
                                    <label for="emailaddress" class="form-label mt-4">Email Address</label>
                                    <input type="text" class="form-control" id="emailaddress" placeholder="Enter Email">
                                    <small class="form-text text-muted">Please enter correct email. Bill PDF will be sent to this email address.</small>
                                </div>
                            </fieldset>

                            <button type="submit" class="btn btn-primary my-4">Submit</button>
                            <button type="button" class="btn btn-primary ms-3 my-4">Clear</button>
                        </form>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="live-preview-section">
                            <h5>Live Preview</h5>
                            <div class="container fuel-receipt-live-preview mt-3">
                                <div class="row live-preiview-title-section">
                                    <div class="col text-underline">
                                        <h4>Fuel Receipt</h4>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 col-sm-6 col-lg-6">
                                        <img class="live-preivew-logo" src="../../../assets/media/logo/Bharat.png" alt="logo" />
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-6">
                                        <h4>Receipt Details</h4>
                                        <p>Receipt Number: </p>
                                        <p>Date: </p>
                                        <p>Time: </p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 col-sm-6 col-lg-6">
                                        <h4>Billed To</h4>
                                        <p>Customer Name: </p>
                                        <p>Vehicle Number: </p>
                                        <p>Vehicle Type: </p>
                                    </div>
                                    <div class="col-6 col-sm-6 col-lg-6">
                                        <legend>Fuel Station Details</legend>
                                        <p>Fuel Station Name: </p>
                                        <p>Fuel Station Address: </p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 col-sm-6 col-lg-6"></div>
                                    <div class="col-6 col-sm-6 col-lg-6">
                                        <h4>Payment Method</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <div class="panel-heading">
                                            <h6 class="panel-title"> Receipt Summary </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td><strong>Fuel Rate</strong></td>
                                                    <td><strong>Quantity</strong></td>
                                                    <td class="text-center"><strong>Total Amount</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>₹</td>
                                                    <td>lt.</td>
                                                    <td class="text-center">₹</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="text-center"><strong>Total: </strong>₹</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 bottom">
                                        <p><strong>Thank you ! For Fuelling With Us !</strong></p>
                                        <p>For any queries and complaint visit our customer care </p>
                                        <p>Save fuel, secure the future!</p><p>Time:  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
